<% content_for :header do %>
	<h1>La Sala.PE :: Home</h1>
<% end %>
<% if current_user %>
	Bienvenido! <%= current_user.name %>
	<%= link_to "List View", "/listview", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-ajax" => "false" %>
	<%= link_to "Map View", "/mapview", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-ajax" => "false" %>
<% else %>
	<%= link_to "Ingresar con Twitter", "/auth/twitter", "data-role" => "button", "data-icon" => "star", "data-ajax" => "false" %>
<% end %>