<div data-role="page">
	<div data-role="header">
    <%= link_to 'Back', "/listview", "data-icon" => "back", "data-theme" => "b", "data-ajax" => "false" %>
    <h1>Editar Sala</h1>
	</div><!-- /header -->
	<div data-role="content">
	  <%= render 'form' %>
  </div><!-- /content -->
</div><!-- /page -->